/*-- scss:defaults --*/
$link-color: #1F7CFF; //#448AFC;
$toc-color: #1F7CFF; //#448AFC;
$toc-active-border: #1F7CFF; //#448AFC;

// default color of flatly scheme: #58BA9E
//$link-color: #58BA9E; 
//$toc-color: #58BA9E; 
//$toc-active-border: #58BA9E; 

/*-- scss:rules --*/